body #background {
  background-color: #111111;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body #preview {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 40%;
  margin: 5px;
  width: 25%;
  background-color: #222222;
}
body #preview canvas {
  width: 100%;
  height: 100%;
}
body #timeline {
  position: fixed;
  bottom: 0px;
  top: 60%;
  left: 0px;
  right: 0px;
  background-color: #222222;
}
