$bgColor: #111111;
$brightBgColor: #222222;
$darkColor: #003147;
$brightColor: #0972a5;

$defaultMargin: 5px;

body {
  #background {
    background-color: $bgColor;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #preview {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 40%;
    margin: $defaultMargin;
    width: 25%;
    background-color: $brightBgColor;
    canvas {
      width: 100%;
      height: 100%;
    }
  }

  #timeline {
    position: fixed;
    bottom: 0px;
    top: 100% - 40%;
    left: 0px;
    right: 0px;
    background-color: $brightBgColor;
  }
}
